## Classification (Projet 1)
### Naiim Khaskhoussi
### CII-2-GLSI-D

## Travail demandée


Soit la base de données ‘Dataset_spine.csv’ contient des informations sur la colonne vertébrale. <br>
Elle est composée de deux classe classe ‘normal ‘ et classe ‘Abnormal’ <br>
1) Donner le nombre des observations dans chaque classe. <br>
2) Effectuer le prétraitement nécessaire pour cette base de données <br>
3) Diviser la base de données nettoyée en deux parties : 2/3 pour l’apprentissage et 1/3 pour le test <br>
4) Choisir trois modèles pour la discrimination (classification) entre ces deux classes (Normal et abnormal). Et justifier votre réponse. <br>
5) Construire les trois modèles en utilisant le 2/3 de la base. <br>
6) Tester ces trois modèles choisis sur le 1/3 de la base. <br>
7) Calculer la performance de trois modèles choisis en utilisant tous les protocoles expérimentaux de la classification. <br>
8) Interpréter les résultats obtenus. <br>

## 0) Chargement du dataset

In [2]:
import pandas as pd

data_source = 'Dataset_spine.csv'
dataset = pd.read_csv(data_source)
# préview du dataset
dataset.head(7)

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Class_att
0,63.027818,22.552586,39.609117,40.475232,98.672917,-0.254400,0.744503,12.5661,14.5386,15.30468,-28.658501,43.5123,Abnormal
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,0.415186,12.8874,17.5323,16.78486,-25.530607,16.1102,Abnormal
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,0.474889,26.8343,17.4861,16.65897,-29.031888,19.2221,Abnormal
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,0.369345,23.5603,12.7074,11.42447,-30.470246,18.8329,Abnormal
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,0.543360,35.4940,15.9546,8.87237,-16.378376,24.9171,Abnormal
5,40.250200,13.921907,25.124950,26.328293,130.327871,2.230652,0.789993,29.3230,12.0036,10.40462,-1.512209,9.6548,Abnormal
6,53.432928,15.864336,37.165934,37.568592,120.567523,5.988551,0.198920,13.8514,10.7146,11.37832,-20.510434,25.9477,Abnormal

## 1) Analyse des observations dans chaque classe

In [3]:
# Analyse des observations
print("Total: {} observations".format(dataset.shape[0]))
dataset['Class_att'].value_counts()

Total: 310 observations

Abnormal    210
Normal      100
Name: Class_att, dtype: int64

## 2) Prétraitement nécessaire pour cette base de données

Avant de faire le processus d'apprentissage, il faut extraire le vecteur étiquettes (Labels) et d'y supprimer du dataset

In [4]:
# extraction du vecteur Labels 
y = dataset ['Class_att']

In [5]:
# supprimer le vecteur label du dataset
dataset.drop(['Class_att'], axis=1, inplace=True)

In [6]:
# re-vérifier le dataset
dataset.head(7)

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12
0,63.027818,22.552586,39.609117,40.475232,98.672917,-0.254400,0.744503,12.5661,14.5386,15.30468,-28.658501,43.5123
1,39.056951,10.060991,25.015378,28.995960,114.405425,4.564259,0.415186,12.8874,17.5323,16.78486,-25.530607,16.1102
2,68.832021,22.218482,50.092194,46.613539,105.985135,-3.530317,0.474889,26.8343,17.4861,16.65897,-29.031888,19.2221
3,69.297008,24.652878,44.311238,44.644130,101.868495,11.211523,0.369345,23.5603,12.7074,11.42447,-30.470246,18.8329
4,49.712859,9.652075,28.317406,40.060784,108.168725,7.918501,0.543360,35.4940,15.9546,8.87237,-16.378376,24.9171
5,40.250200,13.921907,25.124950,26.328293,130.327871,2.230652,0.789993,29.3230,12.0036,10.40462,-1.512209,9.6548
6,53.432928,15.864336,37.165934,37.568592,120.567523,5.988551,0.198920,13.8514,10.7146,11.37832,-20.510434,25.9477

## 3) Diviser la base de données nettoyée en deux parties : 2/3 pour l’apprentissage et 1/3 pour le test

In [7]:
from sklearn.model_selection import train_test_split 
x_train, x_test ,y_train ,y_test = train_test_split(dataset, y, test_size=0.33, random_state=0)

## 4) Choisir trois modèles pour la discrimination (classification) entre ces deux classes (Normal et abnormal). Et justifier votre réponse.
#### Justification
Apprentissage suppérvisé, classification

In [8]:
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# création de la liste des modèles
models = [
    {"Model Name": "DecisionTreeClassifier", "Model": DecisionTreeClassifier()},
    {"Model Name": "LogisticRegression", "Model": LogisticRegression(solver='lbfgs', max_iter=200)},
    {"Model Name": "SVM", "Model": svm.SVC(kernel='linear')}
]

## 5) + 6) + 7) Processing and Evaluation

5) Construire les trois modèles en utilisant le 2/3 de la base.
6) Tester ces trois modèles choisis sur le 1/3 de la base.
7) Calculer la performance de trois modèles choisis en utilisant tous les protocoles expérimentaux de la classification.

6) Tester ces trois modèles choisis sur le 1/3 de la base.

7) Calculer la performance de trois modèles choisis en utilisant tous les protocoles expérimentaux de la classification.

In [9]:
# pour tous les modèles on va faire les memes traitements (fit, test (predict) et évaluation)
for model_details in models:

    # create and train the selected model
    model = model_details["Model"]

    print("Working with: {}".format(model_details["Model Name"]))
    model.fit(x_train, y_train)

    # (6) Tester ces trois modèles choisis sur le 1/3 de la base.
    y_pred = model.predict(x_test)

    # (7) Calculer la performance de trois modèles choisis en utilisant tous les protocoles expérimentaux de la classification.
    model_details["Score"] = model.score(dataset, y)
    model_details["Accuracy"] = accuracy_score(y_test, y_pred)
    model_details["Confusion Matrix"] = confusion_matrix(y_test, y_pred)
    #model_details["Precision Score"] = precision_score(y_test, y_pred)
    #model_details["Recall Score"] = recall_score(y_test, y_pred)
    #print(classification_report(y_test, y_pred))
    print("Done.\n")

Working with: DecisionTreeClassifier
Done.

Working with: LogisticRegression
Done.

Working with: SVM
Done.

Interprétation des résultats obtenus

In [10]:
results_df = pd.DataFrame(models)
results_df

,Accuracy,Confusion Matrix,Model,Model Name,Score
0,0.834951,"[[59, 7], [10, 27]]","DecisionTreeClassifier(class_weight=None, crit...",DecisionTreeClassifier,0.945161
1,0.825243,"[[55, 11], [7, 30]]","LogisticRegression(C=1.0, class_weight=None, d...",LogisticRegression,0.848387
2,0.834951,"[[56, 10], [7, 30]]","SVC(C=1.0, cache_size=200, class_weight=None, ...",SVM,0.861290

## 8) Interprétation des résultats

Le modèle DecisionTreeClassifier donne un score mieux important mais avec faible accuracy <br> Le modèle SVC donne les résulats le plus précise pour notre dataset

En génerale on n'est pas ni dans l'overfitting ni l'underfitting, et on avaient des bon résulats de prédictions